.caminhos-itens {
  display: flex;
  flex-direction: row;
  gap: 5px;
  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #c4c4c4;
    @media screen and (min-width: 2500px) {
      font-size: 24px;
    }
  }
}
.home_img {
  width: 16px;
  @media screen and (min-width: 2500px) {
    width: 31.25px;
  }
}
