.accList {
  width: 100%;
  a {
    background-color: white;
    border-radius: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    @media screen and (min-width: 2500px) {
      font-size: 32px;
      line-height: 38px;
    }
  }
  border-right: 1px solid black;
}
.contato-item {
  width: 100%;
}
@media screen and (max-width: 1025px) {
  .fileiraItens {
    flex-direction: column;
  }
  .conteudoLista {
    width: 100%;
    margin-top: 30px;
  }
  .indexLista {
    width: 100%;
  }
  .conteudo {
    h2 {
      display: flex;
      justify-content: center;
    }
  }
}
.conteudo {
  h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #292929;
    @media screen and (min-width: 2500px) {
      font-size: 48px;
      line-height: 56px;
    }
  }
  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #7d7d7d;
    @media screen and (min-width: 2500px) {
      font-size: 26px;
      line-height: 30px;
    }
    @media screen and (max-width: 1024px) {
      text-align: justify;
    }
  }
}
