.top_footer_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 16px 64px 100px;
  border-top: 1px solid black;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}
.top_footer_socials {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
@media screen and (max-width: 1024px) {
  .top_footerMob_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1025px) {
  .top_footerMob_wrapper {
    display: none;
  }
}
