@import "/node_modules/bootstrap/scss/functions";
$grid-breakpoints: (
  xs: 0,
  xsm: 362px,
  sm: 576px,
  md: 768px,
  lg: 950px,
  xl: 1200px,
  xxl: 1400px,
);
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";
@import "/node_modules/bootstrap/scss/bootstrap";
