// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "/node_modules/bootstrap/scss/functions";

$grid-breakpoints: (
  xs: 0,
  xsm: 362px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xpp: 1025px,
  xl: 1200px,
  xxl: 1400px,
);

@import "/node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here
