.contatosInfo {
  margin-bottom: 12px;
  h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  p {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }
  a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}
