.socials-wrapper {
  .socialsList {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    li {
      margin-right: 10px;
    }
    padding: 0 0 0 0;
  }
  a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    color: #030303;

    @media screen and (min-width: 2500px) {
      font-size: 28px;
      line-height: 32.81px;
    }
  }
  img {
    width: 35px;
    height: 35px;
  }
}
