.accordion-wrapper {
  display: flex;
  flex-direction: column;
}
.accordion-item {
  display: flex;
  flex-direction: row;
}
.accordion-header {
}
/*
.list-group-tabs.active {
  background-color: red;
}*/
.acc-item .active {
  background-color: red;
}
