.cursosNav {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  @media screen and (min-width: 2500px) {
    font-size: 28px;
  }
}
.saibaNav {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  @media screen and (min-width: 2500px) {
    font-size: 28px;
  }
}

.instituicionaisNav {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  @media screen and (min-width: 2500px) {
    font-size: 28px;
  }
}
